{%extends "layout_liste_candidats.html"%}
{% block body %}
    <h1>Liste des candidats</h1>
    <table>
       {% for candidat in data %}
            <tr>
                <td> {{candidat.id}}   -  </td>
                <td> {{candidat.nom}} </td>
                <td> {{candidat.prenom}} </td>
                <td> <input type="button" value="Accéder à la fiche du candidat" onclick="self.location.href='candidat/{{candidat.id}}'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> </td>
            </tr>
    </table>
       {% endfor %}

{% endblock %}